* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #e2e2e2;
}

.table {
  border-collapse: collapse;
  font-size: 28px;
  min-width: 400px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 100px 0 0 20px;
}

.table thead tr {
  background-color: #e2e2e2;
  font-weight: bold;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 20px;
}

.table tbody tr {
  border-bottom: 1px solid #202020;
}

.table tbody tr:nth-of-type(even) {
  background-color: #e2e2e2;
}

.edit-btn {
  font-size: 24px;
  background-color: transparent;
  border: none;
  margin-right: 20px;

  cursor: pointer;
}

.delete-btn {
  font-size: 24px;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.image {
  height: 60px;
  width: 60px;
}

.loading {
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}
